@import '../../../../00-App/styles/variables';

.section__new-todo {
	position: sticky;
	top: 0;
	z-index: 1;
	grid-column: 2;
	justify-self: center;
}

.section__todos {
	grid-column: 2;
	justify-self: center;
	width: $primary-width-element;
	margin-top: 100px;
	margin-bottom: 200px;
}
