@import '/src/00-App/styles/variables';

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	min-height: 100vh;
	background-color: rgb(0 0 0 / 70%);
	backdrop-filter: blur(5px);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 15px;
	color: $primary-text-color;
	background-color: $page-background-color;
	border-radius: 5px;
	transform: translate(-50%, -50%);

	&__close-button {
		position: absolute;
		top: -40px;
		right: -40px;
	}

	&__close-button img {
		width: 35px;
		height: 35px;
	}
}
