@import "/src/00-App/styles/variables";

.todo-item__todo {
  display: flex;
  gap: 10px;
  align-items: center;

  width: $primary-width-element;
  min-height: 90px;
  max-height: 300px;
  padding: 10px 20px;

  font-size: $primary-font-size;
  color: $primary-text-color;

  background-color: $primary-color;
  border-radius: 5px;
  box-shadow: $primary-box-shadow;
}

.todo {
  &__buttons-wrapper {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  &__task-wrapper {
    width: 100%;
  }

  &__task {
    overflow-wrap: break-word;
  }
}
