@import "/src/00-App/styles/variables";
@import "/src/00-App/styles/mixin";

.todo-item {
  &__todo {
    display: flex;
    gap: 10px;
    align-items: center;

    width: $primary-width-element;
    min-height: 90px;
    max-height: 300px;
    padding: 10px 20px;

    font-size: $primary-font-size;
    color: $primary-text-color;

    background-color: $primary-color;
    border-radius: 5px;
    box-shadow: $primary-box-shadow;
  }

  &__buttons-wrapper {
    @include fl-cl;
    position: absolute;
    left: -50px;
    gap: 10px;
  }

  @media (max-width: $media-width-mobile) {
    &__buttons-wrapper {
      position: unset;
      left: unset;
      flex-direction: row;
    }
  }
}

.todo {
  &__task {
    width: 100%;
    overflow-wrap: break-word;
  }
}
