@import "/src/00-App/styles/variables";

.button {
  cursor: pointer;

  color: $accent-text-color;

  border: 0;
  border-radius: 5px;

  transition: all 0.3s;

  &__image {
    width: 25px;
  }

  // types styles
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    background: transparent;
  }

  &__primary {
    background-color: $secondary-color;
  }

  &__accent {
    background-color: $accent-color;
  }

  // types sizes
  &__large {
    padding: 10px 20px;
    font-size: $secondary-font-size;
  }

  &__medium {
    padding: 8px 10px;
    font-size: $min-font-size;
  }
}

.button:hover {
  filter: brightness(80%);
}

.button:disabled {
  pointer-events: none;
  filter: brightness(65%);
}
