@import '/src/00-App/styles/variables';

.button {
	color: $accent-text-color;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;

	&__image {
		width: 25px;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		background: transparent;
	}

	&__primary {
		background-color: $secondary-color;
	}

	&__accent {
		background-color: $accent-color;
	}

	&__large {
		padding: 10px 20px;
		font-size: $secondary-font-size;
	}

	&__medium {
		padding: 8px 10px;
		font-size: $min-font-size;
	}

	&__small {
		padding: 5px;
	}

	@media (max-width: $media-width-mobile) {
		&__image {
			width: 40px;
		}
	}
}

.button:hover {
	filter: brightness(80%);
}

.button:disabled {
	filter: brightness(65%);
	pointer-events: none;
}
