/* Палитра */
$primary-color: #423e3b;
$accent-color: #5448c8;
$secondary-color: #fffecb;
$error-color: rgb(255 113 113);

/* Цвет страницы */
$page-background-color: #2c2826;

/* Цвет outline */
$primary-outline-color: #ffffff;

/* Цвет текста */
$primary-text-color: #ffffff;
$accent-text-color: #2c2826;

/* Цвет Placeholder */
$input-placeholder-color: rgb(255 255 255 / 50%);

/* Fonts */
$primary-font-family: roboto, arial, sans-serif;

/* Font size */
$primary-font-size: clamp(1rem, 0.91rem + 0.45vw, 1.25rem);
$accent-font-size: clamp(1.25rem, 1.14rem + 0.57vw, 1.56rem);
$secondary-font-size: 20px;
$min-font-size: 16px;

/* Width */
$primary-width-element: clamp(23.13rem, 20.17rem + 14.77vw, 31.25rem);
$accent-width-element: clamp(12.5rem, 9.09rem + 17.05vw, 21.88rem);
$secondary-width-element: clamp(31.25rem, 24.43rem + 34.09vw, 50rem);
$media-width-mobile: 576px;
