// colors
$primary-color: #f3e69f;
$accent-color: #f08d67;
$secondary-color: #538f79;
$error-color: rgb(255 113 113);
$primary-outline-color: #fff;

// page-bcg-color
$page-background-color: #56b294;

// text-color
$primary-text-color: #102028;
$accent-text-color: #fff;

// placeholder-colors
$input-placeholder-color: rgba(16 32 40 / 50%);

// font-family
$primary-font-family: roboto, arial, sans-serif;

// font-size
$primary-font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
$accent-font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
$secondary-font-size: 20px;
$min-font-size: 16px;

// width-element
$primary-width-element: clamp(23.125rem, 20.17rem + 14.77vw, 31.25rem);
$accent-width-element: clamp(12.5rem, 9.091rem + 17.05vw, 21.875rem);
$secondary-width-element: clamp(31.25rem, 24.432rem + 34.09vw, 50rem);

// box-shadow
$primary-box-shadow: -1px 5px 11px 9px rgb(88 84 56 / 58%);

// medias
$media-width-mobile: 576px;
