@import "/node_modules/normalize.css/normalize.css";
@import "./variables";
@import "./fonts";

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: $primary-font-family;
  background-color: $page-background-color;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: $page-background-color;
}

// Блокирует прокрутку
.locked {
  overflow: hidden;
}
