@import '../../../../00-App/styles/variables';
@import '../../../../00-App/styles/mixin';

.todo__buttons {
	@include fl-cl;
	position: absolute;
	left: -45px;
	gap: 10px;
}

.todo__button {
	padding: 5px;
	background-color: $primary-color;
}

.todo__button img {
	width: 20px;
}
