@import "/src/00-App/styles/mixin";
@import "/src/00-App/styles/variables";

.form-new-todo {
  display: flex;
  gap: 40px;

  &__label {
    @include fl-cl;
    gap: 20px;
    align-items: center;

    padding-top: 20px;

    color: $primary-text-color;

    backdrop-filter: blur(10px);
  }

  &__label-span {
    font-size: $accent-font-size;
  }

  &__input {
    width: $secondary-width-element;
    padding: 20px;

    font-size: 20px;

    background-color: $primary-color;
    border-radius: 5px;
  }

  &__button-submit {
    align-self: flex-end;
    padding: 11px;
    background-color: $primary-color;
  }

  &__button-submit img {
    width: 40px;
    height: 40px;
  }

  &__button-submit:disabled {
    filter: brightness(80%);
  }
}
