.todo__form-edit-todo {
	display: flex;
	gap: 10px;
	width: 100%;
}

.form-edit-todo {
	&__textarea {
		width: 100%;
		padding: 5px 10px;
		border-radius: 5px;
	}

	&__button-submit {
		align-self: center;
	}
}
