@import '../../../../00-App/styles/mixin';
@import '../../../../00-App/styles/variables';

.form {
	@include fl-cl;
	gap: 50px;
	min-width: 400px;
}

.label {
	@include fl-cl;
	align-items: center;
	gap: 15px;
}

.span {
	font-size: 20px;
}

.input {
	width: 100%;
	padding: 10px;
	background-color: $primary-color;
	border-radius: 5px;
}

.button {
	color: $accent-text-color;
	background-color: $secondary-color;
}
