@import "/src/00-App/styles/mixin";
@import "/src/00-App/styles/variables";

.todo__list {
  @include fl-cl;
  gap: 50px;

  &-item {
    @include fl-cl;
    gap: 20px;
    align-items: center;

    @media (max-width: $media-width-mobile) {
      @include fl-cl;
      position: unset;
      gap: 20px;
      align-items: flex-end;
    }
  }
}

.list-item {
  &__list-subtodos {
    @include fl-cl;
    gap: 20px;
    align-items: flex-end;
    width: 100%;
  }
}
