@import '/src/00-App/styles/mixin';
@import '/src/00-App/styles/variables';

.fields {
	@include fl-cl;
	position: fixed;
	top: 0;
	grid-row: 2;
	justify-content: center;
	gap: 50px;
	width: 100%;
	max-width: 250px;
	height: 100%;

	&__buttons {
		display: flex;
		align-self: center;
		gap: 10px;
	}

	&__button {
		padding: 10px;
		font-size: 14px;
		background-color: $primary-color;
		border-radius: 5px;
	}

	&__list {
		@include fl-cl;
		gap: 15px;
	}
}

.field__button {
	width: 100%;
	padding: 10px 20px;
	color: $accent-text-color;
	font-weight: 500;
	font-size: 17px;
	overflow-wrap: break-word;
	background-color: $secondary-color;
	border-radius: 0 10px 10px 0;
	filter: brightness(40%);
}

.field__button::first-letter {
	text-transform: uppercase;
}

.field__active {
	filter: unset;
	pointer-events: none;
}

.confirm-delete {
	&__wrapper {
		@include fl-cl;
		align-items: center;
		gap: 50px;
		min-width: 400px;
	}

	&__span {
		font-size: 20px;
	}

	&__button {
		width: 100%;
	}
}
