@import "../../../../00-App/styles/mixin";

.section-todos__form-new-todo {
  @include fl-cl;
  gap: 40px;
  padding: 20px;
}

.form-new-todo {
  &__label {
    @include fl-cl;
    gap: 20px;
    align-items: center;
    color: white;
  }

  &__label-head {
    font-size: clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem);
  }

  &__input {
    width: clamp(23.125rem, 20.17rem + 14.77vw, 31.25rem);
    padding: 15px 20px;

    font-size: 20px;

    background-color: #458e5d;
    border-radius: 5px;
    box-shadow: -1px 5px 11px 9px rgb(48 84 32 / 58%);
  }

  &__button-submit {
    align-self: flex-end;
  }
}
